* { margin: 0; padding: 0; }
body { font: 16px Georgia, serif; }
a { color: #00B7FF; }
footer { background: #eee; text-align: center; }
header, nav, section { background: #eee; text-align: center; }
nav span { margin: 0 10px 0 0; }	
section > div { padding: 20px; }
section img{ max-width: 70px; margin-bottom: 10px; }
section h4 { font-size: 24px; }
#page-wrap { margin: 2% auto; color: white; }
#page-wrap > .main { border: 1px solid #999; padding: 1%;
					 margin-bottom: 1px; color: black; }
/*#s1 input.form-control{
	display: inline-block;
	width: 55%;
}*/
.col-buscar,.col-quizes{
	display: inline-block;
	padding: 15px;
	vertical-align: top;
	width: 39%;
}
.col-quizes{
	width: 59%;
}