<form method="get" action="/quizes/<%= quiz.id %>/answer">
	<h3>Pregunta: <%= quiz.pregunta %></h3>
  <div class="form-group">
	 <input type="text" name="respuesta" placeholder="Responda aquí" class="form-control input-lg"/>
  </div>
	<input type="submit" value="Enviar" class="btn btn-lg btn-info">
</form>